.DS_Store
tmp/
evidence/database/original_database.sqlite
jmeter.log
__pycache__/
*.pyc
23127035_HW05_AI_Performance_100/
23127035_HW05_AI_Performance_100.zip
23127035_HW05_AI_Performance_100.zip.001
23127035_HW05_AI_Performance_100.zip.002
